



<ion-content no-padding >
  <ion-list *ngFor="let item of items" >
    <ion-card  no-padding >
      <ion-row >
        <ion-col width-20>
          <ion-item>
            <ion-avatar item-left>
             <img src="http://placehold.it/50x50" />
            </ion-avatar>
          </ion-item>
        </ion-col>
        <ion-col width-60 text-left> 
          <ion-card-title style="white-space: normal;" >
            <h2> {{item.title}} </h2>   
          </ion-card-title>  
        </ion-col>
        <ion-col width-20>
          <ion-buttons end>
            <a tappable clear  ion-button icon-only>
              <ion-icon  name="ios-arrow-down-outline"></ion-icon>
            </a>
          </ion-buttons>
        </ion-col>
      </ion-row>
      <img src={{item.imageLink}}>
      <br>
      <p text-center text-wrap style="white-space: normal;" >
        {{item.content}}
      </p>
      <!--<ion-row >
        <ion-col   *ngIf="info.right == 2 "  width-33 text-left>
          <button  ion-button outline full clear icon-left text-capitalize>
            <ion-icon name='create'></ion-icon>
              Edit
          </button>
        </ion-col>
        <ion-col *ngIf="info.right == 2" width-33  text-center>
          <button ion-button  outline full clear icon-left text-capitalize>
            <ion-icon  name="close-circle"></ion-icon>
              Remove
          </button>
        </ion-col>
        <ion-col  *ngIf="info.right == 2" width-33 text-right>
          <button (click)="itemTapped($event,item)" ion-button  clear outline full icon-left text-capitalize>
           <ion-icon name="open"></ion-icon>
              View
          </button>
        </ion-col>
        <ion-col  *ngIf="info.right == 0" width-50 text-left >
          <button  (click)="itemTapped($event,item)" ion-button  clear outline full icon-left text-capitalize >
           <ion-icon name="open"></ion-icon>
             View
          </button>
        </ion-col>
        <ion-col  *ngIf="info.right == 0" width-50>
          <button (click)="share($event,item)" ion-button outline clear full icon-left text-right text-capitalize>
            <ion-icon name='share-alt'></ion-icon>
              Share 
          </button>
        </ion-col>
      </ion-row>-->
    </ion-card>
  </ion-list>
</ion-content>
