<!--
  Generated template for the Statistics page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Statistics</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <!--<iframe width="100%" height="100%" [src]="returl()" frameboarder="0" allowfullscreen></iframe>-->

    <button ion-button color="primary" (click)="goToReservationsPage()">Launch URL</button>

    <button ion-button color="primary" full outline (click)="launch()">Launch URL</button>
    <!--<button (click)="testRoomTypes()">room types</button>-->

    <ion-list>
        <ion-item>
            <ion-label>Type of room</ion-label>
            <ion-select (ionChange)="showRooms()">
                <ion-option *ngFor="let type of roomTypeData" interface="popover" [value]=type.short_name>{{type.name}}</ion-option>
            </ion-select>

        </ion-item>
    </ion-list>
    <div *ngIf="showDetailsSingle">
        <ion-list *ngFor="let type of roomTypeData">
            <div *ngIf="type.short_name == 'single'">
                {{type.id}} <br> {{type.short_name}} <br> {{type.base_price}}
            </div>
        </ion-list>
    </div>
    <div *ngIf="showDetailsDouble">
        <ion-list *ngFor="let type of roomTypeData">
            <div *ngIf="type.short_name == 'Double'">
                {{type.id}} <br> {{type.short_name}} <br> {{type.base_price}}
            </div>
        </ion-list>
    </div>
</ion-content>