<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>
    <ion-buttons *ngIf="info.facultate == dataTabs.message.note && info.right == 1">
        <button ion-button full (click)="addNew()">Add new  <ion-icon name="add"></ion-icon></button>
    </ion-buttons>
    <ion-list *ngFor="let post of posts">
        <ion-card fullscreen>
            <ion-item>
                <ion-avatar item-left>
                    <img src="http://placehold.it/200x200" />
                </ion-avatar>
                <h2 style="white-space: pre-line;" text-wrap> {{dataTabs.message.note}}</h2>
                <p>{{post.data}} </p>
            </ion-item>
            <ion-card-content>

                <img *ngIf="post.icon" src="http://atestate-inf.tk/ghidtest/upload/{{post.icon}}" />
                <br>
                <h1 style="white-space: pre-line;" text-wrap>{{post.title}}</h1>
                <br>
                <p padding-horizontal text-justify style="white-space: pre-line;" text-wrap [innerHTML]="post.text">
                </p>
            </ion-card-content>

        </ion-card>
    </ion-list>
</ion-content>