
<ion-header>

  <ion-navbar>
    <ion-title></ion-title>

  </ion-navbar>

</ion-header>


<ion-content padding>
  
<form [formGroup]="myForm" >
    <ion-list>

      <ion-item>
        <ion-label floating>Username</ion-label>
        <ion-input type="text" value="" formControlName="username"></ion-input>
      </ion-item>

      <ion-item >
        <ion-label floating>Password</ion-label>
        <ion-input type="password" value="" formControlName="password"></ion-input>
      </ion-item>
 <ion-item>
        <ion-label floating>E-mail</ion-label>
        <ion-input type="email" value="" formControlName="email"></ion-input>
      </ion-item>
      <ion-item *ngIf="right==1">
        <ion-label floating >Address</ion-label>
        <ion-input type="text" value="" formControlName="hotel_address"></ion-input>
      </ion-item>       

      <ion-item  *ngIf="right==1" >
        <ion-label floating>Phone number</ion-label>
        <ion-input type="text" value="" ></ion-input>
      </ion-item>    

      <ion-item *ngIf="right==1" >
        <ion-label floating >Name</ion-label>
        <ion-input type="text" value="" formControlName="hotel_name"></ion-input>
      </ion-item>    

    </ion-list>

    <div >
      <button ion-button color="primary" full text-capitalize (click)="registerForm()">Submit </button>    
    </div>
</form>
</ion-content>
