<ion-header>

    <ion-navbar>
        <ion-title></ion-title>

    </ion-navbar>

</ion-header>


<ion-content no-padding>
    <button ion-button full outline (click)="onNewTypeButtonClick()">New type</button>
    <div *ngIf="newTypeButtonClicked">
        <form [formGroup]="newTypeForm">
            <ion-list>

                <ion-item>
                    <ion-label floating>Name</ion-label>
                    <ion-input type="text" value="" formControlName="name"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label floating>Short name</ion-label>
                    <ion-input type="text" value="" formControlName="short_name"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label floating>Base availability</ion-label>
                    <ion-input type="number" value="" formControlName="base_availability"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label floating>Base price</ion-label>
                    <ion-input type="number" value="" formControlName="base_price"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label floating>Maximal occupancy</ion-label>
                    <ion-input type="number" value="" formControlName="max_occupancy"></ion-input>
                </ion-item>

                <!--<ion-item>
                    <ion-label floating>Room number</ion-label>
                    <ion-input type="number" value="" formControlName="room_number"></ion-input>
                </ion-item>-->

            </ion-list>
            <div>
                <button ion-button color="primary" full text-capitalize (click)="registerForm()">Submit </button>
            </div>
        </form>
    </div>

    <button ion-button full outline (click)="onExistingTypeButtonClick()">Existing type</button>
    <div *ngIf="existingTypeButtonClicked">
        <form [formGroup]="existingTypeForm">
            <ion-list>

          <ion-item >
              <ion-label fixed>Room type</ion-label>
                  <ion-select interface="popover" formControlName="roomType"  multiple="false"   >
                  <ion-option *ngFor="let type of userData" [value]=type>{{type.short_name}}</ion-option>
              </ion-select>
          </ion-item>
                <ion-item>
                    <ion-label floating >Number</ion-label>
                    <ion-input type="number" value="" formControlName="numar"  ></ion-input>
                </ion-item>

              
           </ion-list>
            <div>
                <button ion-button color="primary" full text-capitalize (click)="registerFormExisting()">Submit </button>
            </div>
        </form>
    </div>



</ion-content>