<button *ngIf="place.website !== 'undefined'" text-capitalize full (click)="goToWebsite(place.website)" ion-button color="primary"> Go to website </button>
<button text-capitalize *ngIf="place.types[0] == 'lodging'" full (click)="goToReservationsPage(place)" ion-button color="primary"> Make reservation </button>
<button text-capitalize *ngIf="place.types[0] != 'lodging'" full (click)="followPlace(place)" ion-button color="primary"> Follow </button>
<button text-capitalize full (click)="launchGoogleNavigator(place)" ion-button color="primary"> Launch Navigator </button>


<ion-list>
    <img style="width:50px; height:50px; display: block; margin: auto;" src={{place.icon}} />
    <ion-item>
        <p text-wrap style="white-space: normal;"> <strong> Nume: </strong> {{place.name}} </p>
    </ion-item>
    <ion-item>
        <p text-wrap style="white-space: normal;"> <strong> Addresa:</strong> {{place.vicinity}} </p>
    </ion-item>
    <ion-item *ngIf="place.formatted_phone_number">
        <p text-wrap style="white-space: normal;"> <strong> Phone number:</strong> {{place.formatted_phone_number}} </p>
    </ion-item>
    <ion-item *ngIf="place.opening_hours">
        <!--<button text-capitalize full (click)="showData()" ion-button color="primary"> Program  <ion-icon  name="add"></ion-icon></button> <br>-->
        <strong> Program:</strong>
        <div>
            <p *ngFor="let hour of place.opening_hours.weekday_text" style="white-space: normal;"> {{hour}} <br> </p>
        </div>
    </ion-item>
    <ion-item *ngIf="place.rating">
        <p text-wrap style="white-space: normal;"> <strong> Rating:</strong> {{place.rating}} </p>
    </ion-item>
</ion-list>