
<!--<ion-header>
  <ion-navbar>
    <ion-title>
      <ion-icon tappable name="arrow-round-back" (click)="navBack()" ></ion-icon>
    </ion-title>
  </ion-navbar>
</ion-header>-->

<ion-content >
  <ion-list *ngFor="let d of data" no-padding>
       
    <ion-grid no-padding  >
      <ion-row class="grid-basic-page">
        <ion-col color="secondary" item-left width-100>
          <div>
             Grupa {{d.title}}
          </div>
          <ion-icon  (click)="toggleDetails(d)" color="primary" item-right [name]="d.icon"></ion-icon>
        </ion-col >
      </ion-row>
        <div  *ngIf="d.showDetails"  >  <!-- pentru afisare date sau nu-->
        
          <div *ngFor="let p of posts">   <!-- parsarea intregilor date venite de la server-->
            <div *ngIf="p.grupa == d.title"> <!-- verificare existenta grupa -->
         
             <div *ngFor="let t of p.orar">    <!--  parsare date timp - zi si informatii -->
                <ion-row class="grid-basic-page">  
                  <ion-col *ngIf="t.zi!='c'"style="background-color: #69e814; font-size:12px;" col-3>
                      <div>
                           Timp
                      </div>
                  </ion-col >
                  <ion-col *ngIf="t.zi!='c'" style="background-color: #69e814; font-size:12px;" item-left col-9>  
                      <div>
                          {{t.zi}} 
                      </div>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="t.time!=''" class="grid-basic-page">  
                  <ion-col  style="font-size:12px;"  col-3>
                      <div text-left> 
                          {{t.time}}
                      </div>
                  </ion-col >
                  <ion-col   style="font-size:12px;" item-left col-9>  
                      <div text-left>
                          {{t.info}} 
                      </div>
                  </ion-col>
                </ion-row>
              </div>
                <div>
             
            </div>
            </div>
          </div>
          
        </div>
    </ion-grid>
    
  </ion-list>
</ion-content>